
body {
	margin: 20px;
}

.card {
  display: inline-block;
  margin: 5px;
  width: 100px;
  
}

.hold {
  border: 3px solid green;
  border-radius: 5px;
}

.row {
 padding: 3%;
}
.cardBacks {
  width: auto;
  height: 250px
}